@font-face {
    font-family: 'open-sans';
    src        : url('../asset/OpenSans-Regular.ttf');       
}

body {
    font-family: "open-sans" !important;             
}

/* navbar */
.navbar {
    background-color: transparent !important;
    position        : fixed;
    width           : 100%;
    margin-top      : 50px;
    padding-top     : 20px;
    padding-bottom  : 20px;
    z-index         : 99999 !important;
    transition      : .5s;                                 
}

.navbar-scroll {
    padding-top     : 10px;
    padding-bottom  : 10px;
    transition      : .5s;
    background-color: rgb(125, 201, 241) !important;
    box-shadow      : 0px 2px 16px rgba(8, 54, 204, 0.295);
}

.navbar .navbar-brand img {
    width     : 200px;
    transition: .5s;                                 
}

.navbar-scroll .navbar-brand img {
    width     : 150px;
    transition: .5s;
}

.navbar ul li {
    font-size     : 14px;
    text-align    : center;
    text-transform: uppercase;
    letter-spacing: 0px;
    width         : 100px
}

.navbar ul li a {
    color: #FFFFFF !important;
}

.navbar ul li a,
.navbar ul li a:after,
.navbar ul li a:before {
    transition: all .5s;
}

.navbar ul li a:after {
    position  : absolute;
    bottom    : 0;
    left      : 0;
    right     : 0;
    margin    : auto;
    width     : 0%;
    content   : '.';
    color     : transparent;
    background: #FFFFFF;
    height    : 1px;
}

.navbar ul li a:hover:after {
    width: 80%;
}

.navbar ul li a:hover {
    transform: scaleX(1) !important;
}

.navbar-scroll ul li a {
    position: relative;
    z-index : 1;
}

.active:not([class*="carousel-item"]) {
    background-color: #4465FC;
    border-radius   : 50px;
    font-weight     : bolder !important;
}

/* end navbar */

/* jumbotron */
.jumbotron {
    background-color : transparent !important;
    background-image : url("../asset/img/jumbotron/jumbotron.svg");
    background-size  : cover !important;
    background-repeat: no-repeat !important;
    margin-top       : -50px;
    height           : 500px;
}

.jumbotron h1 {
    margin-top    : 200px;
    letter-spacing: 1.74px;
    color         : #FFFFFF;
    font-weight   : bolder;
}

.jumbotron p {
    letter-spacing: -1.22px;
    color         : #FFFFFF;
    font-size     : 40px;
    font-weight   : 100 !important;
}

.jumbotron small {
    color    : #697598;
    font-size: 18px;
}

.jumbotron .mybtn {
    margin-top    : 80px;
    background    : linear-gradient(to right, #2655EE, #66B5E1);
    color         : #fff;
    border        : none;
    padding-top   : 10px;
    padding-bottom: 10px;
    padding-left  : 50px;
    padding-right : 50px;
    border-radius : 30px;
    letter-spacing: 0.4px;
    transition    : .5s;

}

.jumbotron .mybtn:hover {
    box-shadow: 0px 2px 16px rgba(8, 54, 204, 0.397);
    transition: .5s;
}

.man-jumbotron {
    width     : 600px;
    margin-top: 120px;
}

/* end jumbotron */

/* services */

.services {
    margin-top: 200px;
    padding-top: 100px;
    padding-bottom: 90px;
}

.services .our-services {
    font-weight: bolder;
    font-size: 25px;
    color: #31384E;
}

.services small {
    color: #697598;
    text-align: center;
    font-size: 15px;
}

.services .main-services {
    margin-top: 80px;
}

.services .main-services .services-card {
    width: 350px;
    height: 320px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    border-radius: 10px 20px 10px 60px;
    border: none;
    cursor: pointer;
    transition: .5s;
    box-shadow: 0px 10px 50px #31384E14;
}

.services .main-services .services-card:hover {
    background-color: rgb(125, 201, 241);
    transition: .5s;
    box-shadow: 0px 10px 30px rgba(49, 56, 78, 0.349);
}

.services .main-services .services-card:hover h6,
.services .main-services .services-card:hover p,
.services .main-services .services-card:hover .icon-setting {
    color: #fff !important;
    transition: .5s;
}

.services .main-services .services-card:hover .icon-setting {
    font-size: 40px;
}

.services .services-card .icon-setting {
    color: rgb(125, 201, 241) !important;
    transition: .5s;
}

.services .services-card h6 {
    margin-top: 40px;
    text-transform: uppercase;
    color: #31384E;
    transition: .5s;
}

.services .services-card p {
    color: rgba(49, 56, 78, 0.801);
    font-size: 15px;
    margin-top: 20px;
    transition: .5s;
}

/* end services */

/* featured */
.featured {
    padding-top: 100px;
}

.featured .title {
    font-weight: bolder;
    font-size: 25px;
    color: #31384E;
}

.featured .main-featured {
    margin-top: 60px;
}

.featured .featured-card {
    border: none;
    cursor: pointer;
    transition: .5s;
    box-shadow: 0px 10px 50px #31384E14;
    position: relative;
    overflow: hidden;
}

.featured .featured-card:hover {
    transform: translateY(-10px);
    transition: .5s;
    box-shadow: 0px 10px 30px rgba(49, 56, 78, 0.349);
}

.featured .featured-card .card-img-top {
    padding: 10px;
}

.featured .featured-card .card-body {
    padding-left: 30px;
    padding-right: 30px;
}

.featured .featured-card h5,
.featured .featured-card p {
    color: #31384E;
    transition: .5s;
}

.featured .featured-card p {
    color: rgba(49, 56, 78, 0.801);
    font-size: 15px;
    margin-top: 20px;
}

.featured .featured-btn {
    margin-top: 60px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 30px;
    border: 1px solid #2354F3;
    color: #2354F3;
    transition: .5s;
}

.featured .featured-btn:hover {
    color: #fff;
    background-color: #2354F3;
    border: 1px solid #2354F3;
    transition: .5s;
}

/* end featured */

/* testimoni */
.testimoni {
    padding-top: 140px;
    margin-bottom: 100px;
}

.testimoni .quote {
    font-size: 50px;
    color: rgb(226, 226, 226);
    position: absolute;
    transform: translateY(-210px);
    margin-left: 40px;
}


.testimoni .title {
    font-weight: bolder;
    font-size: 25px;
    color: #31384E;
}

.testimoni .main-testimoni {
    margin-top: 20px;
}

.testimoni .carousel .fa-chevron-left,
.testimoni .carousel .fa-chevron-right {
    color: rgb(158, 158, 158);
}

.testimoni .carousel {
    box-shadow: 0px 15px 43px rgba(0, 0, 0, 0.089);
    border-radius: 20px 0px 10px 0px;
    padding: 35px;
}

.testimoni .carousel .carousel-item img {
    width: 120px;
}

.testimoni .carousel .carousel-item .opinion {
    font-size: 15px;
    color: rgb(85, 90, 104);
}

.testimoni .carousel .carousel-item .name {
    font-size: 15px;
    font-weight: bolder;
    color: #31384E;
    margin-top: 20px !important;
    line-height: 10px !important;
}

.testimoni .carousel .carousel-item small {
    color: rgb(85, 90, 104);
}

.testimoni .carousel .carousel-item p {
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
}

.testimoni .request {
    padding-top: 150px;
}

.testimoni .request .card {
    border: none;
    box-shadow: 0px 6px 48px rgba(0, 0, 0, 0.068);
    padding: 20px;
}

.testimoni .request label:not(.label-textarea) {
    transform: translateY(-35px);
    transition: .5s;
    cursor: text;
    color: rgb(108, 112, 122);
    margin-left: 10px;
    padding: 0 10px 0 10px;
}

.testimoni .request .label-textarea {
    transform: translateY(-100px);
    transition: .5s;
    cursor: text;
    color: rgb(108, 112, 122);
    margin-left: 10px;
    padding: 0 10px 0 10px;
}

.testimoni .request .form-group {
    margin-bottom: 0px;
}

.testimoni .request .form-group textarea {
    resize: none !important;
    position: relative;
    z-index: 1;
    background: transparent;
}

.testimoni .request .form-group .form-control:not(textarea) {
    background: transparent;
    padding-left: 15px !important;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    z-index: 1;
    height: 45px;
}

.testimoni .request .form-group input[type=email]:valid+label,
.testimoni .request .form-group input[type=email]:focus+label,
.testimoni .request .form-group input[type=text]:valid+label,
.testimoni .request .form-group input[type=text]:focus+label {
    transform: translateY(-60px);
    transition: .5s;
    font-size: 14px;
    position: relative;
    z-index: 2;
    background-color: #fff;
    color: #2354F3;
}

.testimoni .request .form-group textarea:valid+label,
.testimoni .request .form-group textarea:focus+label {
    transform: translateY(-125px);
    transition: .5s;
    font-size: 14px;
    position: relative;
    z-index: 2;
    background-color: #fff;
    color: #2354F3;
}

.testimoni .request .form-group input[type=email]:focus,
.testimoni .request .form-group input[type=text]:focus,
.testimoni .request .form-group textarea:focus {
    outline: none !important;
    box-shadow: none !important;
}

.testimoni .request .btn-req {
    background: linear-gradient(to right, #2655EE, #66B5E1);
    color: #fff;
    border: none;
    padding-top: 9px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30px;
    letter-spacing: 0.4px;
    transition: .5s;
    font-size: 15px;

}

.testimoni .request .btn-req:hover {
    box-shadow: 0px 2px 16px rgba(8, 54, 204, 0.397);
    transition: .5s;
}

.testimoni .talk {
    padding-top: 25px;
    padding-left: 40px;
}

.testimoni .talk h1 {
    color: #31384E;
}

.testimoni .talk p {
    margin-top: 40px;
    font-size: 15px;
    color: rgb(87, 87, 87);
}

.testimoni .testi-asset {
    position: absolute;
    width: 700px;
    transform: translateX(-360px);
}


/* end testimoni */

/* subscribe */
.subscribe {
    padding-top: 90px;
    padding-bottom: 150px;
}

.subscribe .subs-asset {
    position: absolute;
    margin-top: 50px;
    transform: translateX(50px);
}

.subscribe .title {
    font-weight: bolder;
    font-size: 25px;
    color: #31384E;
}

.subscribe .form-subs {
    margin-top: 50px;
}

.subscribe form .form-control {
    width: 350px !important;
    border-radius: 99px;
    padding-left: 30px;
}

.subscribe form .form-control::placeholder {
    font-style: italic;
    color: rgb(148, 153, 167);
    font-size: 15px;
}

.subscribe form .btn-subs {
    background: linear-gradient(to right, #2655EE, #66B5E1);
    color: #fff;
    border: none;
    padding-top: 9px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 99px;
    letter-spacing: 0.4px;
    transition: .5s;
    font-size: 15px;
    margin-left: 20px;

}

.subscribe form .btn-subs:hover {
    box-shadow: 0px 2px 16px rgba(8, 54, 204, 0.397);
    transition: .5s;
}

/* end subscribe */

/* about */
.about {
    padding-top: 100px;
    padding-bottom: 150px;
}

.about img {
    width: 170px;
}

.about .email {
    margin-top: 20px;
    line-height: 5px;
}

.about .email,
.about .telp,
.about .title p,
.about .title p a {
    color: rgb(103, 105, 110);
    font-size: 14px;
    transition: .5s;
}

.about .title p a:hover {
    text-decoration: none;
    color: #222;
    transition: .5s;
}

.about .title h6 {
    font-weight: bolder;
    margin-bottom: 30px;
}

.about .social-media a {
    padding: 5px 10px 5px 10px;
    text-align: center !important;
    margin-right: 10px;
    border-color: rgb(103, 105, 110);
    color: rgb(103, 105, 110);
    transition: .5s;
}

.about .social-media a:hover {
    text-decoration: none;
    transition: .5s;
    background-color: #66B5E1;
    border-color: #66B5E1 !important;
    color: #fff;
}

/* about */

/* footer */
footer {
    padding-bottom: 20px;
}

footer p {
    color: rgb(141, 141, 143);
    font-size: 14px;
}

/* end footer */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .navbar .navbar-brand img {
        width: 150px;
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgb(248, 248, 248)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    }

    .man-jumbotron {
        display: none;
    }
}

/* End extra small devices (phones, 600px and down) */