@font-face {
    font-family: 'open-sans';
    src: url('../asset/OpenSans-Regular.ttf');
}

body {
    font-family: "open-sans" !important;
}

/* navbar */
.navbar {
    background-color: transparent !important;
    position: fixed;
    width: 100%;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 99999 !important;
}

.navbar .navbar-brand img {
    width: 200px;
}

.navbar ul li {
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0px;
    padding-left: 40px;
}

.navbar ul li a {
    color: #FFFFFF !important;
}

/* end navbar */

/* jumbotron */
.jumbotron {
    background-color: transparent !important;
    background-image: url("../asset/img/jumbotron/jumbotron.svg");
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position-x: -120px;
    margin-top: -50px;
    height: 500px;
}

.jumbotron h1 {
    margin-top: 200px;
    letter-spacing: 1.74px;
    color: #FFFFFF;
    font-weight: bolder;
}

.jumbotron p {
    letter-spacing: -1.22px;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 100 !important;
}

.jumbotron small {
    color: #697598;
    font-size: 18px;
}

.jumbotron .mybtn {
    margin-top: 80px;
    background: linear-gradient(to right, #2655EE, #66B5E1);
    color: #fff;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 30px;
    letter-spacing: 0.4px;
    transition: .5s;

}

.jumbotron .mybtn:hover {
    box-shadow: 0px 2px 16px rgba(8, 54, 204, 0.397);
    transition: .5s;
}

.man-jumbotron {
    width: 600px;
    margin-top: 120px;
}

/* end jumbotron */

/* services */

.services {
    margin-top: 150px;
    padding-top: 80px;
}

.services .our-services {
    font-weight: bolder;
    font-size: 25px;
    color: #31384E;
}

.services small {
    color: #697598;
    text-align: center;
    font-size: 15px;
}

.services .main-services {
    margin-top: 80px;
}

.services .main-services .services-card {
    width: 350px;
    height: 320px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    border-radius: 10px 20px 10px 60px;
    border: none;
    cursor: pointer;
    transition: .5s;
    box-shadow: 0px 10px 50px #31384E14;
}

.services .main-services .services-card:hover {
    background-color: rgb(125, 201, 241);
    transition: .5s;
    box-shadow: 0px 10px 30px rgba(49, 56, 78, 0.349);
}

.services .main-services .services-card:hover h6,
.services .main-services .services-card:hover p,
.services .main-services .services-card:hover .icon-setting {
    color: #fff !important;
    transition: .5s;
}

.services .main-services .services-card:hover .icon-setting {
    font-size: 40px;
}

.services .services-card .icon-setting {
    color: rgb(125, 201, 241) !important;
    transition: .5s;
}

.services .services-card h6 {
    margin-top: 40px;
    text-transform: uppercase;
    color: #31384E;
    transition: .5s;
}

.services .services-card p {
    color: rgba(49, 56, 78, 0.801);
    font-size: 15px;
    margin-top: 20px;
    transition: .5s;
}

/* end services */

/* featured */
.featured {
    padding-top: 140px;
}

.featured .title {
    font-weight: bolder;
    font-size: 25px;
    color: #31384E;
}

.featured .main-featured {
    margin-top: 60px;
}

.featured .featured-card {
    border: none;
    cursor: pointer;
    transition: .5s;
    box-shadow: 0px 10px 50px #31384E14;
}

.featured .featured-card:hover {
    transform: translateY(-10px);
    transition: .5s;
    box-shadow: 0px 10px 30px rgba(49, 56, 78, 0.349);
}

.featured .featured-card .card-img-top {
    padding: 10px;
}

.featured .featured-card .card-body {
    padding-left: 30px;
    padding-right: 30px;
}

.featured .featured-card h5,
.featured .featured-card p {
    color: #31384E;
    transition: .5s;
}

.featured .featured-card p {
    color: rgba(49, 56, 78, 0.801);
    font-size: 15px;
    margin-top: 20px;
}

.featured .featured-btn {
    margin-top: 60px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 30px;
    border: 1px solid #2354F3;
    color: #2354F3;
    transition: .5s;
}

.featured .featured-btn:hover {
    color: #fff;
    background-color: #2354F3;
    border: 1px solid #2354F3;
    transition: .5s;
}

/* end featured */

/* testimoni */
.testimoni {
    padding-top: 140px;
    margin-bottom: 100px;
}

.testimoni .title {
    font-weight: bolder;
    font-size: 25px;
    color: #31384E;
}

.testimoni .main-testimoni {
    margin-top: 60px;
}

.testimoni .carousel {
    background-color: aquamarine;
}

.testimoni .carousel .carousel-item img {
    width: 170px;
}

/* end testimoni */